<!doctype html>
<html lang="en-US">

<head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <p>first handlebar</p>
    <p>NEW LINE UPDATE</p>
    <P>STILL WORK RIGHT?</P>
    <a href="pages/test.html">click</a>
</body>

</html>